h1{
     max-width: 350px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    color: rgb(249, 250, 250);
    font-size: 40px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(2, 78, 43);
}

form {
  max-width: 450px;          /* 限制表單寬度 */
  margin: 20px auto;         /* 置中並且上下有間距 */
  padding: 20px;
  background: #f9f9f9;       /* 淺灰背景 */
  border-radius: 10px;       /* 圓角 */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* 柔和陰影 */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

body {
  background-image: url("/static/thh.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(255,255,255,0.7); /* 半透明白色 */
  z-index: -1;
}

a {
  display: block;       /* 變成區塊元素 */
  width: 100px;         /* 設定寬度 */
  margin: 0 auto;    /* 上下間距20px，左右置中 */
  text-align: center;   /* 文字置中 */
  text-decoration: none;
  color: #f9fafa;
  font-weight: bold;
  background-color: #03aaf8;
  border-radius: 10px;
  overflow: hidden;
}



a:hover{
    color: #390096;             /* 滑鼠移上去變深藍色 */
    text-decoration: underline;

}