<!DOCTYPE html>
<html lang = "zh-Hant">
<head>
    <meta charset = "utf-8">
    <title>新增商品</title>   
    <link rel="stylesheet" href="{{ url_for('static', filename='add_product.css') }}">   
</head>    
<body>
    <h1>新增商品</h1>
    <form action="{{url_for('add_product_submit')}}" method="post">  
        <label>名稱:<input type="text" name="name"  placeholder=" " required></label></br>
        <label>類別:<input type="text" name="category"  placeholder=" " required></label></br>
        <label>單價:<input type="number" step="0.01" name="unit_price"  placeholder=" " required></label></br>
        <label>庫存<input type="number" name="stock"  placeholder=" " required></label></br>
        <label>安全庫存:<input type="number" name="safe_stock"  placeholder=" " required></label></br>
        <input type="submit" value="新增商品">
        </form>

        <a href="{{url_for('index')}}">回首頁</a>
</body>
</html>