<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>進貨紀錄列表</title>
    <link rel="stylesheet" href="{{url_for('static', filename='list_stock_in.css')}}">
</head>
<body>
    <h1>所有進貨紀錄</h1>
    <table border="1">
        <thead>
            <tr>
                <th>進貨編號</th>
                <th>商品 ID</th>
                <th>數量</th>
                <th>進貨日期</th>
            </tr>
        </thead>
        <tbody>
            {% for record in stock_ins %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                    <td>{{ record[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="/">回首頁</a></p>
</body>
</html>